[project]
	description = Test repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/blaisethom
[access "refs/for/refs/*"]
	read = group user/blaisethom
	push = group user/blaisethom
	label-Code-Review = -2..+2 group user/blaisethom
	label-Verified = -1..+1 group user/blaisethom
	rebase = group user/blaisethom
	removeReviewer = group user/blaisethom
	submit = group user/blaisethom
[access "refs/heads/*"]
	read = group user/blaisethom
	create = group user/blaisethom
	push = +force group user/blaisethom
	pushMerge = group user/blaisethom
[access "refs/tags/*"]
	push = +force group user/blaisethom
	pushTag = group user/blaisethom
	pushSignedTag = group user/blaisethom
